#!/bin/bash

# Don't forget to escape spaces!
WIFI_SSID="YOUR_SSID_HERE";
WIFI_PASSWORD="YOUR_NETWORK_PASSWORD";
SONOS_API_HOST="SONOS_NODE_HTTP_API_HOSTNAME";
SONOS_ZONE_NAME="SONOS\ ZONE\ NAME";

export PLATFORMIO_BUILD_FLAGS='-DWIFISSID=\"'${WIFI_SSID}'\" -DWIFIPASS=\"'${WIFI_PASSWORD}'\" -DSONOSAPIHOST=\"'${SONOS_API_HOST}'\" -DSONOSZONENAME=\"'${SONOS_ZONE_NAME}'\"'
